.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 7px 0px;
            display: inline-block;
            
        }
    }
    a {
       
       border:1px solid $secondaryColor;
        padding: .7em 1.5em;
        display: block;
        color: $secondaryColor;
        @include box-sizing();
        transition: .5s;
        &:hover,
        &:focus {
            color: #FFF;
            background-color:$secondaryColor; 
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}